
  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
html{
    scroll-behavior: smooth;
}
  *{
    margin: 0px;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    box-sizing: border-box;
}
:root{
    --primary-color:black; 
    --secondary-color:cyan;
}
#service{
    color: white;
    font-size: 25px;
    text-align: left;
}

.day-light{
    --primary-color:white;
    --secondary-color:cyan;
    /* background-color: white; */
}
body{
  /*background-color:rgb(0, 0, 0);*/
    /* color: rgb(246, 237, 237); */
    background-color:var(--primary-color);
   /* background: linear-gradient(to left, #6600cc 32%, #cc33ff 68%);*/
/* background-image: url('portfolio-modified.png');
align-items: right;
background-repeat: no-repeat;

*/
}
.container-1 {
    margin: 100px auto;
    width: 500px;
    text-align: center;
  }
  .container-2{
    margin: 100px auto;
    width: 500px;
    text-align: center;
  }
  .container-3 {
    margin: 100px auto;
    width: 500px;
    text-align: center;
  }
  .container-4   {
    margin: 100px auto;
    width: 500px;
    text-align: center;
  }
  .progress {
    padding: 6px;
    background:white;
    border-radius: 50px;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25), 0 1px rgba(255, 255, 255, 0.08);
  }
  .progress-bar {	
    height: 12px;
      background-color: #ee303c;  
    border-radius: 50px; 
    transition: 0.4s linear;  
    transition-property: width, background-color;    
  }
  .progress-striped .progress-bar { 	
    background-color: #FCBC51; 
    width:60%; 
    background-image: linear-gradient(
          45deg, rgb(252,163,17) 25%, 
          transparent 25%, transparent 50%, 
          rgb(252,163,17) 50%, rgb(252,163,17) 75%,
          transparent 75%, transparent); 
    animation: progressAnimationStrike 6s;
  }
  
  @keyframes progressAnimationStrike {
       from { width: 0 }
       to   { width: 60% }
  }
   

.aboutimg{
    margin-top: 30px;
    width:60vh;
    height:60vh;
    background-image: url("aboutport1.png");
    background-size: 100% 100%;
    animation: image-motion 10s linear infinite ;

}
.mode{

 --primary-color:white;
    --secondary-color:cyan;
}
.intro{
    font-size:40px;
    line-height:0.8cm;
    box-sizing:unset;
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-left: 15px;
    color: white;
}
.portimg{
float:right;
display: left;
margin-left: auto;
margin-right: 84px;
animation:linear ;
/*box-shadow:  2px 2px  20px red ;*/
scroll-behavior:smooth;
animation: slideupward 3s ease forwards ;
z-index:10 0;
cursor: pointer;
}

.portimg:hover{
   /* background: linear-gradient(to left, #6600cc 32%, #cc33ff 68%);*/
    /* background-color: #6600cc;*/
    opacity:.2;
   border-radius:110%;
   -webkit-border-radius: 50% red;
   box-shadow: 2px 2px 40px var(--secondary-color);
   animation: slideupward 3s ease forwards;
   /* transform: scale(1.2); */
   z-index: 100;

}
h3 
{ 
text-align: center;
color: white;
font-weight: 600;
text-shadow: 2px 2px 40px var(--secondary-color);
font-size: 40px;

}
.p-about
{
    /* display:contents; */
    position: relative;
    /* background-color: transparent; */
    font-size: 25px;
    color: white;
padding: 40px 50px 50px 40px;
/*margin: 15px 0px 30px ;*/
margin-left: 500px;
line-height: 2;
float: right;
margin-top: 40px;
/* animation: slideupward 3s ease forwards; */
}
.p-about:hover{
    position: relative;
    /* opacity:.2; */
    border-radius:80%;
     /* box-shadow: 2px 2px 40px rgb(28, 141, 141);  */
     /* filter: text-shadow (20px 20px 80px rgb(28, 141, 14)); */
    
}
/* .slide{
    position: absolute;
    /* display: grid; 
    width: 60%;
    height: 600px;
    background-image: url("portfolio-modified.png");
    background-size: 100% 100%;
   animation: image-motion 10s  linear infinite;
/* }  
.slide{
position: absolute;

} */

.header
{
   display: inline-flex;
    top: 0; 
    left: 0;
    width: 100%;
    height: 15vh;
    background-color: transparent;
    padding: 20px 0px;     
    /* display: block; */
    justify-content: space-between;
    align-items: center;
    z-index: 100; 
}
.home-content h1{
    font-size: 190px;
    line-height: 160px;
    color: transparent;
    -webkit-text-stroke:  1px #ededed;
    animation: slideright 2s ease forwards;

}
.logo
{   position: relative;
  background:transparent;
   font-size: 35px;
    font-family: -webkit-body;
   color: white;
    text-decoration: none;
    font-weight: 600;
    animation: slidecolor 1s ease forwards ;


}
.home-content h1::before{
    content: '';
     position: absolute;
     top:0;
     right: 0;
     height: 100%;
     width: 100%;
     animation: slideright 1s ease forwards;
     animation-delay:1s ;
}

.navbar
{
    
    position: relative;
   display: inline-block;
    font-size: 20px;
    color:var(--primary-color);
    text-decoration: none;
    font-weight:500;
   margin-left: 35px;
  /* margin: 10px 30px;*/
    transition: .3s;
   list-style: none;
    align-items: right;
  /* text-align:left;*/
  padding-right: 30px;   
  animation: slideupward 3s ease forwards ;
  
    
}
.navbar a{
    color: white; 
    text-decoration: none;
    position: relative;
    justify-items:space-around;
    margin-left: 20px;
    
}
.navbar a::after
{
   
   content: '';
   width: 0;
   height: 3px;
   position: absolute;
   left: 50%;
   bottom: -5px;
   transform: translateX(-50%);
   background: white;
  transition: width .2s;
  color: red(10, 214, 214);
}
.navbar a:hover::after{
width: 50%;
background-color: var(--secondary-color);

}
.navbar a.active
{
    color:var(--secondary-color);
    position: relative;
}
#mode{
    
    cursor: pointer;

}
i.bx.bx-moon.bx-tada{
    font-size: 25px;
    font-weight: 400;
   /* color: rgb(10, 214, 214); */
   color: gold;
}
.home{
 display: flex;
 align-items: center;
 height: 100vh;
 pad: 0 10%;
 font-size: larger;
 
}
.home-content
{
    max-width: 900px;
  margin-left: 20px;
   
}
.home-content h1{
    font-size: 56px;
    font-weight: 700;
}
.home-content .motion2{
    font-size: 45px;
    font-weight: 600;
    color: var(--secondary-color);
    line-height: 1.2;
    text-shadow: 2px 2px 40px var(--secondary-color)cyan;
    position: relative;
}
.home-content .motion1{
    font-size: 70px;
  
    
}
.home-content p{
    font-size:18px;
   margin: 20px 0 40px;
}
.home-content .btn-box{
    display: flex;
    justify-content: space-between;
    width: 345px;
    height: 50px;
}
.btn-box .nth-child1, 
.btn-box .nth-child2
{
    background-color: transparent;
    color: #00abf0;
   
    }
.btn-box .nth-child2:hover,.btn-box .nth-child1:hover{
  color:white;
  box-shadow: 2px 2px 40px var(--secondary-color);
  
} 
.closebtn,.menubtn {
font-size: 28px;
margin:0px 20px;
color: white;
display:none;
}
@media only screen and (max-width:700px) {   
    #menu{
        display:none; 
        width: 100%;
        background:transparent;
        position:relative;
        top:50px;
        text-align: center;  
        right:20px;  
    }
.menubtn{
    display:block;
}
.logo{
    font-size: 45px;
    position: relative;
}
.navbar a:hover{
    width: 50%;
background-color:transparent;
align-items: center;
}
.home-content .motion1{
   font-size:38px;
   margin-left: 10px;
}
 .home-content .motion2{
    font-size:35px;
}
.home-content .intro{
    font-size: 15px;
}
.header{
    font-size:2vh;
}
.portimg:hover{
    /* background: linear-gradient(to left, #6600cc 32%, #cc33ff 68%);*/
     /* background-color: #6600cc;*/
     opacity:.2;
    border-radius:110%;
    -webkit-border-radius: 50% red;
    box-shadow: 2px 2px 40px var(--secondary-color);
    animation: slideupward 3s ease forwards;
    /* transform: scale(1.2); */
    z-index: 100;
.portimg{
    max-width: 300px;
    max-height: 300px;
    align-items: center;
}
.p-about
{   
    font-size:16px ;
    padding: 15px 0px 25px 85px;
    /* background: red; */
    line-height: 1.5;
    margin-left:5px;
    display:inline-block;
    
    /* float: right;
    text-align: right; */
}
.p-about:hover{
    position: relative;
    
    /*box-shadow: 2px 2px 30px cyan;*/
    /* text-align:center; */
}
.aboutimg{
    margin-top:30vh;
    width: 50vh;
    height: 50vh;
    background-image: url("aboutport1.png");
    background-size: 100% 100%;
    animation: image-motion 10s linear infinite ;
    margin-left: 50%;

}
}
}

    .btn-box a 
    {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 100%;
    color: #00abf0;
     border: 2px solid skyblue;
    border-radius: 75px;
    display: inline-flex;
    font-size: 16px;
    color: #1f5b7d;
    text-decoration: none;
    font-weight: 600;   
    letter-spacing: 1px;  
    z-index:8;
  }
    .btn-box a::before
    {
        content: '';
        position: absolute;
        top:0;
        left:0;
        width: 0%;
        height: 100%;
        background-color: rgb(19, 180, 180);
        z-index:-1;
        transition: .5s;
    }
    .btn-box a:hover:before
    {
width: 100%;
border-radius: 75px;

    }
    .social-icon
    {
            position: relative ;
            bottom: 40px;
            width: 170px;
            background: transparent;
            display:flex;
            justify-content: space-around;
            
    }
    .social-icon a{
        position: relative;
        display:inline-flex;
        width: 40px;
        height: 40px;
        background: transparent;
        border: 2px solid lightblue;
        border-radius: 50px;
        font-size:30px;
        color:#00abf0;
        text-decoration: none;
        justify-content: center;
        align-items: center;
        z-index:1;
        overflow: hidden;
        transition: .5s;
    
    }
    .social-icon a:hover{
        color:#00abf0;
        box-shadow: 2px 2px 40px cyan;
    }

    .social-icon a::before{
        content:'';
        position: absolute;
        top: 0;
        left: 0;
        width: 0;
        height: 100%;
        background-color: #fdfeff;
       /* box-shadow: 2px 2px 40px cyan;*/
        z-index:-1;
        transition: .5s;
       
       
    }
    .social-icon a:hover::before
    {
        width: 100%;
        border-radius: 50px;
        box-shadow: 2px 2px 40px cyan;
       
    }
@keyframes slideright {
    0%{
        transform: translateX(-100px);
        opacity: 0;
    }
    100%
    {
        transform: translateX(0px);
        opacity: 1;
    }
    
}
@keyframes slideupward {

     0%{
        transform: translateY(-100px);
        opacity: 0;
      
    }
    100%
    {
        transform: translateY(0px);
        opacity:1;
    }
    
}
@keyframes slidecolor {
    0%
    {
        transform: translateX(-100px);
    }
    100%{
    transform: translateX(0px);
    text-decoration:none;

        
    }
    
}
@keyframes image-motion {
    25%{
      background-image: url("portfolio-modified.png");  
    }
    50%{
      background-image: url("aboutport1.png");  
    }
        75%{
      background-image: url("aboutport2.png");  
    }
    100%{
      background-image: url("aboutport3.png");  
    }
    
    
}

    /* @media only screen 
    and (min-device-width: 320px)
    and (max-device-width:480px)
    {
    .navbar {
     flex-direction: column;
     padding: 10px 0px;
     background-color: #00abf0;
    }
    }  */

